extends _layout
block content
	main.main-content
		include components/Sections/_SpriteExample
		.author-git
			h2 Github link
			a(href="https://github.com/narek-t/gulp-jade-sass" target="_blank") https://github.com/narek-t/gulp-jade-sass



block inlineScripts